.navigation{
    height: 200px;
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}
.footer{
    height: 20xp;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tableau{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.crazy{
    color: rgb(6, 102, 10);
    font-family: 'Times New Roman', Times, serif;
}
.crazy2{
    color: blueviolet;
    font-family: cursive;
}
body{
    background-color: bisque;
}